.root {
	-fx-outline: #090909;
	-fx-text: #FFFFFF;
	-fx-button: #282828;


  	/* Default Values */
  	-fx-font-family: monospace;
}

.cell {
    -fx-border-color: #090909;
    -fx-border-width: 1px;
}
#cell{
    -fx-background-color: #efefef;
}
#cell-hover-highlight{
    -fx-background-color:derive(green,0.9);
}

#Button{
	-fx-text-fill: -fx-text;

	-fx-padding: 5 10 5 10;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	
	-fx-background-color: #bf3236;
	-fx-effect: dropshadow(gaussian, #bf3236, 5, 0.2, 0.0, 0.0);
	-fx-background-radius: 4;
}

#Button:hover{
	-fx-background-color: #941c20;
	-fx-effect: dropshadow(gaussian, #941c20, 8, 0.5, 0.0, 0.0);
}