/* Root Values */
.root {
	-fx-outline: #090909;
	-fx-text: #FFFFFF;
	-fx-divider: #141414;
	-fx-grid-outline: #454545;
	-fx-cell-white: #efefef;
	-fx-cell-black: #171717;

  	/* Default Values */
  	-fx-font-family: monospace;
	-fx-background-color: -fx-grid-outline;
}

/* PredictionGrid CSS */
.prediction-grid-default {
	-fx-background-color: -fx-divider;
}

/* Label CSS */
.label-default{
    -fx-text-fill: -fx-text;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}

/* Percentage ProgressBar CSS */
.progress-bar .bar {
	-fx-background-color: derive(green,0.9);
	-fx-background-radius: 3;
	-fx-background-insets: 0, 1, 2, 1;
	-fx-effect: dropshadow(gaussian, derive(green,0.9), 5, 0.2, 0.0, 0.0);
    -fx-padding: 8, 0, 8, 0;
}

/* Input Cell CSS */
.input-cell-default {
    -fx-background-color: -fx-cell-white;
    -fx-border-width: 1px;
}

.input-cell-default:hover {
    -fx-background-color:derive(green,0.9);
}

#input-cell-selected {
    -fx-background-color: -fx-cell-white;
}

/* Button CSS */
.control-button-default {
	-fx-text-fill: -fx-text;

	-fx-padding: 5 10 5 10;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	
	-fx-background-color: #bf3236;
	-fx-effect: dropshadow(gaussian, #bf3236, 5, 0.2, 0.0, 0.0);
	-fx-background-radius: 4;
}

.control-button-default:hover {
	-fx-background-color: #941c20;
	-fx-effect: dropshadow(gaussian, #941c20, 8, 0.5, 0.0, 0.0);
}